@import url("https://use.typekit.net/ieq8ymf.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboardElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(180, 180, 180);
    width: 50rem;
    height: 50rem;
    row-gap: 1rem;
    font-size: 2em;
    border-radius: 10%;
    box-shadow: 2rem 1rem 1rem lightgray;
}

#js--timer {
    font-family: "interstate-mono", monospace;
}

#stopwatchControls {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

#stopwatchControls>button {
    width: 5rem;
    height: 3rem;
    border: none;
}

#stopwatchControls>button:hover {
    filter: brightness(90%);
}

#stopwatchControls>button:active {
    filter: brightness(85%);
}

#js--stop {
    display: none;
    background-color: rgb(226, 60, 60);
}

#js--start {
    background-color: rgb(60, 226, 60);
}

#js--reset {
    background-color: rgb(240, 240, 240);
}

#js--slider {
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(0,255,0) 100%);
    height: 2rem;
    width: 15rem;
    border: 0.1rem solid gray;
}

#js--slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(0,255,0) 100%);
    border-radius: 20%;
    border: 0.1rem solid black;
    cursor: pointer;
}

#js--slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(0,255,0) 100%);
    border: 0.1rem solid black;
    border-radius: 20%;
    cursor: pointer;
}

#js--sliderValue {
    font-family: "interstate-mono", monospace;
}

#js--image {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}